.main{
    .shopping__cart{

        background: #F8F3F4;

        &--flex{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & h1{
            font-size: 24px;
            line-height: 29px;
            color: #F16D7F;
            padding: 60px 0;
        }
    }

    &__products{
        margin-top: 96px;
        margin-bottom: 128px;

        &--flex{
           display: flex;
           justify-content: space-between;
           flex-wrap: wrap;
           
           .products{
               width: 56%;

               &--flex{
                   display: flex;
                   flex-direction: column;

                    .item__cart--box{
                        display: flex;
                        box-shadow: 17px 19px 24px rgba(0,0,0,0.13);
                        margin-top: 40px;
                    

                        & img{
                            max-width: 262px;
                        }

                        .cart__quantity{
                            width: 100%;
                            margin: 22px 22px 0 31px;

                            .quantity__head{
                                display: flex;
                                justify-content: space-between;
                           
                                & h2{
                                    font-size: 24px;
                                    line-height: 29px;
                                    color: black;
                                }

                                & a{
                                    text-decoration: none;
                                    cursor: pointer;
                                }
                            }

                            .quantity__bottom{
                                margin-top: 40px;

                                &--box{
                                    display: flex;

                                    & h3{
                                        display: block;
                                        font-size: 22px;
                                        line-height: 26px;
                                        color: #575757;

                                        & span{
                                        color: #F16D7F;
                                        }
                                    }

                                    & input{
                                        max-width: 43px;
                                        text-align: center;
                                        margin-left: 24px;
                                    }
                                }
                            }
                        }
                    }

                    .item__cart__btn{
                        display: flex;
                        justify-content: space-between;

                        & a{
                            margin-top: 72px;
                            padding: 16px 40px;
                            border: 1px solid #A4A4A4;
                            font-size: 14px;
                            line-height: 17px;
                            color: black;
                            text-decoration: none;
                        }
                    }
                }
           }

           .shopform{
               margin-top: 40px;
               width:35%;
               &--flex{
                   .shopform__addr{

                        & h2{
                            font-size: 16px;
                            line-height: 19px;
                            font-weight: 300;
                            color: black;
                        }

                        & form{
                            display: flex;
                            flex-direction: column;

                            & input{
                                height: 45px;
                                width: 100%;
                                padding-left: 16px;
                                margin-top: 21px;
                                font-size: 13px;
                                line-height: 16px;
                                color: #B1B1B1;
                                border: 1px solid #A4A4A4;
                            }

                            & button{
                                cursor: pointer;
                                padding: 10px 14px 12px 15px;
                                height: 34px;
                                width: 60%;
                                padding-left: 16px;
                                margin-top: 24px;
                                font-size: 11px;
                                line-height: 13px;
                                color: #B1B1B1;
                                border: 1px solid #A4A4A4; 
                                text-align: center;
                            }
                        }

                        .buy__btn--box{
                            display: flex;
                            flex-direction: column;
                            margin-top: 57px;
                            background: #F5F3F3;

                             .buy__subtotal{
                                text-align: right;
                                padding: 39px 34px 12px 0;
                                    & h3{
                                        text-align: right;
                                        font-size: 11x;
                                        line-height: 13px;
                                        font-weight: 400;
                                        color: #4A4A4A;

                                        & span{
                                            color:#F16D7F;
                                        }
                                    }
                            }

                            .buy__grandtotal{
                                text-align: right;
                                padding: 12px 35px 21px 0;

                                    & h3{
                                        font-size: 16x;
                                        line-height: 19px;
                                        font-weight: 300;
                                        color: #222222;

                                        & span{
                                            color:#F16D7F;
                                        }
                                    }
                            }

                            & hr{
                                width: 330px;
                                color: #E2E2E2;
                                border: 1px solid #E2E2E2;
                                margin: 0 auto;
                            }

                            & button{
                                margin: 17px 43px 42px;
                                padding: 15px 43px;
                                font-size: 16px;
                                line-height: 19px;
                                font-weight: 300;
                                color: #FFFFFF;
                                background: #F16D7F;
                                align-items: center;
                                border: none;
                            }
                        }
                   }
               }
           }
        }
    }
    
}
